In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:zh2487(database)!@localhost

'Connected: root@None'

In [3]:
from sqlalchemy import create_engine

In [4]:
sql_engine = create_engine("mysql+pymysql://root:zh2487(database)!@localhost")

In [5]:
import pymysql

In [12]:
%sql use NBA;

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [13]:
%%sql
drop table if exists player_game_stats;
drop table if exists game_basics;
drop table if exists player_game_stats;
drop table if exists teams;
DROP TABLE IF EXISTS NBA.SEASONS;

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

Create table season, specifiy season, season_type, start/end date

In [14]:
%%sql

CREATE TABLE IF NOT EXISTS NBA.SEASONS(
    SEASON varchar(16) NOT NULL,
    SEASON_TYPE varchar(16),
    SEASON_START DATE DEFAULT NULL,
    SEASON_END DATE DEFAULT NULL,
    PRIMARY KEY (SEASON, SEASON_TYPE));
INSERT INTO NBA.SEASONS(
            SEASON,
            SEASON_TYPE,
            SEASON_START,
            SEASON_END) 
VALUES
("2020","allstar","2020-02-14","2020-02-16"),
("2020","playoffs","2020-08-17","2020-10-11"),
("2020","preseason","2020-12-11", "2020-12-19"),
("2020", "regular","2020-12-22","2021-05-16"),
("2021","allstar","2021-03-07","2021-03-09"),
("2021","playoffs","2021-05-22","2021-07-20"),
("2021", "preseason","2021-10-03", "2021-10-15"),
("2021","regular","2021-10-19","2022-04-10");

 * mysql+pymysql://root:***@localhost
0 rows affected.
8 rows affected.

[]

Set primary key player_id for table player_basics

In [17]:
%%sql


alter table PLAYER_BASICS
    drop primary key;

alter table PLAYER_BASICS
    add constraint PLAYER_BASICS_pk
        primary key (PLAYER_ID);

 * mysql+pymysql://root:***@localhost
2483 rows affected.
0 rows affected.

[]

create table teams and insert data

In [18]:
%%sql

create table teams
(
    LEAGUE_ID          char(1)      null,
    TEAM_ID            varchar(64)  not null
        primary key,
    MIN_YEAR           char(4)      null,
    MAX_YEAR           char(4)      null,
    ABBREVIATION       char(3)      null,
    NICKNAME           varchar(32)  null,
    YEARFOUNDED        char(4)      null,
    CITY               varchar(64)  null,
    ARENA              varchar(64)  null,
    ARENA_CAPACITY     varchar(8)   null,
    OWNER              varchar(64)  null,
    GENERAL_MANAGER    varchar(64)  null,
    HEAD_COACH         varchar(64)  null,
    LEAGUE_AFFILIATION varchar(128) null,
    constraint teams_TEAM_ID_uindex
        unique (TEAM_ID)
);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [19]:
import pandas as pd

In [20]:
data_root = "/Users/zihaohu/Desktop/Columbia/22fall/6156/aws/NBA_Players/original_data/teams.csv"
teams_df = pd.read_csv(data_root)
teams_df

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,0,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends
5,0,1610612743,1976,2019,DEN,Nuggets,1976,Denver,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
6,0,1610612745,1967,2019,HOU,Rockets,1967,Houston,Toyota Center,18104.0,Tilman Fertitta,Daryl Morey,Mike D'Antoni,Rio Grande Valley Vipers
7,0,1610612746,1970,2019,LAC,Clippers,1970,Los Angeles,Staples Center,19060.0,Steve Ballmer,Michael Winger,Doc Rivers,Agua Caliente Clippers of Ontario
8,0,1610612747,1948,2019,LAL,Lakers,1948,Los Angeles,Staples Center,19060.0,Jerry Buss Family Trust,Rob Pelinka,Frank Vogel,South Bay Lakers
9,0,1610612748,1988,2019,MIA,Heat,1988,Miami,AmericanAirlines Arena,19600.0,Micky Arison,Pat Riley,Erik Spoelstra,Sioux Falls Skyforce
10,0,1610612749,1968,2019,MIL,Bucks,1968,Milwaukee,Fiserv Forum,17500.0,Wesley Edens & Marc Lasry,Jon Horst,Mike Budenholzer,Wisconsin Herd
11,0,1610612750,1989,2019,MIN,Timberwolves,1989,Minnesota,Target Center,19356.0,Glen Taylor,Scott Layden,Ryan Saunders,Iowa Wolves
12,0,1610612751,1976,2019,BKN,Nets,1976,Brooklyn,Barclays Center,NaN,Joe Tsai,Sean Marks,Kenny Atkinson,Long Island Nets
13,0,1610612752,1946,2019,NYK,Knicks,1946,New York,Madison Square Garden,19763.0,Cablevision (James Dolan),Steve Mills,David Fizdale,Westchester Knicks
14,0,1610612753,1989,2019,ORL,Magic,1989,Orlando,Amway Center,0.0,Rick DeVos,John Hammond,Steve Clifford,Lakeland Magic
15,0,1610612754,1976,2019,IND,Pacers,1976,Indiana,Bankers Life Fieldhouse,18345.0,Herb Simon,Kevin Pritchard,Nate McMillan,Fort Wayne Mad Ants
16,0,1610612755,1949,2019,PHI,76ers,1949,Philadelphia,Wells Fargo Center,NaN,Joshua Harris,Elton Brand,Brett Brown,Delaware Blue Coats
17,0,1610612756,1968,2019,PHX,Suns,1968,Phoenix,Talking Stick Resort Arena,NaN,Robert Sarver,James Jones,Monty Williams,Northern Arizona Suns
18,0,1610612757,1970,2019,POR,Trail Blazers,1970,Portland,Moda Center,19980.0,Paul Allen,Neil Olshey,Terry Stotts,No Affiliate
19,0,1610612758,1948,2019,SAC,Kings,1948,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Vlade Divac,Luke Walton,Stockton Kings
20,0,1610612759,1976,2019,SAS,Spurs,1976,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
21,0,1610612760,1967,2019,OKC,Thunder,1967,Oklahoma City,Chesapeake Energy Arena,19163.0,Clay Bennett,Sam Presti,Billy Donovan,Oklahoma City Blue
22,0,1610612761,1995,2019,TOR,Raptors,1995,Toronto,Scotiabank Arena,19800.0,Maple Leaf Sports and Entertainment,Masai Ujiri,Nick Nurse,Raptors 905
23,0,1610612762,1974,2019,UTA,Jazz,1974,Utah,Vivint Smart Home Arena,20148.0,Greg Miller,Dennis Lindsey,Quin Snyder,Salt Lake City Stars
24,0,1610612763,1995,2019,MEM,Grizzlies,1995,Memphis,FedExForum,18119.0,Robert Pera,Zach Kleiman,Taylor Jenkins,Memphis Hustle
25,0,1610612764,1961,2019,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
26,0,1610612765,1948,2019,DET,Pistons,1948,Detroit,Little Caesars Arena,21000.0,Tom Gores,Ed Stefanski,Dwane Casey,Grand Rapids Drive
27,0,1610612766,1988,2019,CHA,Hornets,1988,Charlotte,Spectrum Center,19026.0,Michael Jordan,Mitch Kupchak,James Borrego,Greensboro Swarm
28,0,1610612739,1970,2019,CLE,Cavaliers,1970,Cleveland,Quicken Loans Arena,20562.0,Dan Gilbert,Koby Altman,John Beilein,Canton Charge
29,0,1610612744,1946,2019,GSW,Warriors,1946,Golden State,Chase Center,19596.0,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors

In [21]:
%%sql 
SET GLOBAL local_infile = 'ON';

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [22]:
con = pymysql.connect(host="localhost",
                        user="root",
                        password="zh2487(database)!",
                        autocommit=True,
                        local_infile=1)

In [23]:
sql = """
LOAD DATA LOCAL INFILE
"/Users/zihaohu/Desktop/Columbia/22fall/6156/aws/NBA_Players/original_data/teams.csv"
INTO TABLE NBA.teams
    FIELDS TERMINATED BY ','
    ENCLOSED BY '"'
    LINES TERMINATED BY '\n'
    IGNORE 1 LINES;
"""

In [24]:
cur = con.cursor()
cur.execute(sql)
cur.close()

In [25]:
%%sql
# data cleaning
alter table teams
    drop column LEAGUE_ID;

update teams
set ARENA_CAPACITY = null
where ARENA_CAPACITY = '';

 * mysql+pymysql://root:***@localhost
0 rows affected.
4 rows affected.

[]

In [26]:
%%sql
use NBA;
select * from teams;

 * mysql+pymysql://root:***@localhost
0 rows affected.
30 rows affected.

[('1610612737', '1949', '2019', 'ATL', 'Hawks', '1949', 'Atlanta', 'State Farm Arena', '18729', 'Tony Ressler', 'Travis Schlenk', 'Lloyd Pierce', 'Erie Bayhawks'),
 ('1610612738', '1946', '2019', 'BOS', 'Celtics', '1946', 'Boston', 'TD Garden', '18624', 'Wyc Grousbeck', 'Danny Ainge', 'Brad Stevens', 'Maine Red Claws'),
 ('1610612739', '1970', '2019', 'CLE', 'Cavaliers', '1970', 'Cleveland', 'Quicken Loans Arena', '20562', 'Dan Gilbert', 'Koby Altman', 'John Beilein', 'Canton Charge'),
 ('1610612740', '2002', '2019', 'NOP', 'Pelicans', '2002', 'New Orleans', 'Smoothie King Center', None, 'Tom Benson', 'Trajan Langdon', 'Alvin Gentry', 'No Affiliate'),
 ('1610612741', '1966', '2019', 'CHI', 'Bulls', '1966', 'Chicago', 'United Center', '21711', 'Jerry Reinsdorf', 'Gar Forman', 'Jim Boylen', 'Windy City Bulls'),
 ('1610612742', '1980', '2019', 'DAL', 'Mavericks', '1980', 'Dallas', 'American Airlines Center', '19200', 'Mark Cuban', 'Donnie Nelson', 'Rick Carlisle', 'Texas Legends'),
 ('1610612743', '1976', '2019', 'DEN', 'Nuggets', '1976', 'Denver', 'Pepsi Center', '19099', 'Stan Kroenke', 'Tim Connelly', 'Michael Malone', 'No Affiliate'),
 ('1610612744', '1946', '2019', 'GSW', 'Warriors', '1946', 'Golden State', 'Chase Center', '19596', 'Joe Lacob', 'Bob Myers', 'Steve Kerr', 'Santa Cruz Warriors'),
 ('1610612745', '1967', '2019', 'HOU', 'Rockets', '1967', 'Houston', 'Toyota Center', '18104', 'Tilman Fertitta', 'Daryl Morey', "Mike D'Antoni", 'Rio Grande Valley Vipers'),
 ('1610612746', '1970', '2019', 'LAC', 'Clippers', '1970', 'Los Angeles', 'Staples Center', '19060', 'Steve Ballmer', 'Michael Winger', 'Doc Rivers', 'Agua Caliente Clippers of Ontario'),
 ('1610612747', '1948', '2019', 'LAL', 'Lakers', '1948', 'Los Angeles', 'Staples Center', '19060', 'Jerry Buss Family Trust', 'Rob Pelinka', 'Frank Vogel', 'South Bay Lakers'),
 ('1610612748', '1988', '2019', 'MIA', 'Heat', '1988', 'Miami', 'AmericanAirlines Arena', '19600', 'Micky Arison', 'Pat Riley', 'Erik Spoelstra', 'Sioux Falls Skyforce'),
 ('1610612749', '1968', '2019', 'MIL', 'Bucks', '1968', 'Milwaukee', 'Fiserv Forum', '17500', 'Wesley Edens &\xa0Marc Lasry', 'Jon Horst', 'Mike Budenholzer', 'Wisconsin Herd'),
 ('1610612750', '1989', '2019', 'MIN', 'Timberwolves', '1989', 'Minnesota', 'Target Center', '19356', 'Glen Taylor', 'Scott Layden', 'Ryan Saunders', 'Iowa Wolves'),
 ('1610612751', '1976', '2019', 'BKN', 'Nets', '1976', 'Brooklyn', 'Barclays Center', None, 'Joe Tsai', 'Sean Marks', 'Kenny Atkinson', 'Long Island Nets'),
 ('1610612752', '1946', '2019', 'NYK', 'Knicks', '1946', 'New York', 'Madison Square Garden', '19763', 'Cablevision (James Dolan)', 'Steve Mills', 'David Fizdale', 'Westchester Knicks'),
 ('1610612753', '1989', '2019', 'ORL', 'Magic', '1989', 'Orlando', 'Amway Center', '0', 'Rick DeVos', 'John Hammond', 'Steve Clifford', 'Lakeland Magic'),
 ('1610612754', '1976', '2019', 'IND', 'Pacers', '1976', 'Indiana', 'Bankers Life Fieldhouse', '18345', 'Herb Simon', 'Kevin Pritchard', 'Nate McMillan', 'Fort Wayne Mad Ants'),
 ('1610612755', '1949', '2019', 'PHI', '76ers', '1949', 'Philadelphia', 'Wells Fargo Center', None, 'Joshua Harris', 'Elton Brand', 'Brett Brown', 'Delaware Blue Coats'),
 ('1610612756', '1968', '2019', 'PHX', 'Suns', '1968', 'Phoenix', 'Talking Stick Resort Arena', None, 'Robert Sarver', 'James Jones', 'Monty Williams', 'Northern Arizona Suns'),
 ('1610612757', '1970', '2019', 'POR', 'Trail Blazers', '1970', 'Portland', 'Moda Center', '19980', 'Paul Allen', 'Neil Olshey', 'Terry Stotts', 'No Affiliate'),
 ('1610612758', '1948', '2019', 'SAC', 'Kings', '1948', 'Sacramento', 'Golden 1 Center', '17500', 'Vivek Ranadive', 'Vlade Divac', 'Luke Walton', 'Stockton Kings'),
 ('1610612759', '1976', '2019', 'SAS', 'Spurs', '1976', 'San Antonio', 'AT&T Center', '18694', 'Peter Holt', 'Brian Wright', 'Gregg Popovich', 'Austin Spurs'),
 ('1610612760', '1967', '2019', 'OKC', 'Thunder', '1967', 'Oklahoma City', 'Chesapeake Energy Arena', '19163', 'Clay Bennett', 'Sam Presti', 'Billy Donovan', 'Oklahoma City Blue'),
 ('1610612761', '1995', '2019', 'TOR', 'Raptors', '1995', 'Toronto', 'Scotiabank Arena', '19800', 'Maple Leaf Sports and Entertainment', 'Masai Ujiri', 'Nick Nurse', 'Raptors 905'),
 ('1610612762', '1974', '2019', 'UTA', 'Jazz', '1974', 'Utah', 'Vivint Smart Home Arena', '20148', 'Greg Miller', 'Dennis Lindsey', 'Quin Snyder', 'Salt Lake City Stars'),
 ('1610612763', '1995', '2019', 'MEM', 'Grizzlies', '1995', 'Memphis', 'FedExForum', '18119', 'Robert Pera', 'Zach Kleiman', 'Taylor Jenkins', 'Memphis Hustle'),
 ('1610612764', '1961', '2019', 'WAS', 'Wizards', '1961', 'Washington', 'Capital One Arena', '20647', 'Ted Leonsis', 'Tommy Sheppard', 'Scott Brooks', 'Capital City Go-Go'),
 ('1610612765', '1948', '2019', 'DET', 'Pistons', '1948', 'Detroit', 'Little Caesars Arena', '21000', 'Tom Gores', 'Ed Stefanski', 'Dwane Casey', 'Grand Rapids Drive'),
 ('1610612766', '1988', '2019', 'CHA', 'Hornets', '1988', 'Charlotte', 'Spectrum Center', '19026', 'Michael Jordan', 'Mitch Kupchak', 'James Borrego', 'Greensboro Swarm')]

clean table games, create table game_basics, insert data and set constraints

In [27]:
%%sql

UPDATE games
SET PTS_home = NULL
WHERE PTS_home = 'None';

UPDATE games
SET PTS_away = NULL
WHERE PTS_away = 'None';

 * mysql+pymysql://root:***@localhost
99 rows affected.
99 rows affected.

[]

In [28]:
%%sql
drop table if exists GAME_BASICS;

create table GAME_BASICS
(
    GAME_ID         varchar(64) not null
        primary key,
    GAME_DATE_EST   date        null,
    HOME_TEAM_ID    varchar(64) null,
    VISITOR_TEAM_ID varchar(64) null,
    PTS_home        int null,
    PTS_away        int null,
    HOME_TEAM_WINS  varchar(64) null,
    SEASON          varchar(16) null,
    SEASON_TYPE     varchar(16) null,
    constraint GAME_BASICS_GAME_ID_uindex
        unique (GAME_ID),
    constraint GAME_BASICS_SEASONS_SEASON_SEASON_TYPE_fk
        foreign key (SEASON, SEASON_TYPE) references SEASONS (SEASON, SEASON_TYPE),
    constraint GAME_BASICS_teams_TEAM_ID_fk
        foreign key (HOME_TEAM_ID) references teams (TEAM_ID),
    constraint GAME_BASICS_teams_TEAM_ID_fk_2
        foreign key (VISITOR_TEAM_ID) references teams (TEAM_ID)
);

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.

[]

In [29]:
%%sql

insert into GAME_BASICS (GAME_ID, GAME_DATE_EST, HOME_TEAM_ID, VISITOR_TEAM_ID, PTS_home, PTS_away, HOME_TEAM_WINS, SEASON, SEASON_TYPE)
SELECT DISTINCT G.GAME_ID,
                CAST(G.GAME_DATE_EST AS DATE) AS GAME_DATE_EST,
                G.HOME_TEAM_ID,
                G.VISITOR_TEAM_ID,
                PTS_home,
                PTS_away,
                G.HOME_TEAM_WINS,
                S.SEASON,
                S.SEASON_TYPE
FROM (GAMES G LEFT JOIN SEASONS S
ON CAST(G.GAME_DATE_EST AS DATE) BETWEEN S.SEASON_START AND S.SEASON_END);

select game_id, count(*) as dup
from game_basics
group by game_id
order by dup desc 
limit 5;

 * mysql+pymysql://root:***@localhost
25767 rows affected.
5 rows affected.

[('10300001', 1),
 ('10300002', 1),
 ('10300003', 1),
 ('10300004', 1),
 ('10300005', 1)]

In [30]:
%%sql
select * from game_basics limit 10;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[('10300001', datetime.date(2003, 10, 5), '1610612762', '1610612742', 90, 85, '1', None, None),
 ('10300002', datetime.date(2003, 10, 6), '1610612763', '1610612749', 105, 94, '1', None, None),
 ('10300003', datetime.date(2003, 10, 7), '1610612765', '1610612739', 96, 100, '0', None, None),
 ('10300004', datetime.date(2003, 10, 7), '1610612742', '1610612753', 99, 89, '1', None, None),
 ('10300005', datetime.date(2003, 10, 7), '1610612757', '1610612745', 104, 80, '1', None, None),
 ('10300006', datetime.date(2003, 10, 7), '1610612747', '1610612744', None, None, '0', None, None),
 ('10300007', datetime.date(2003, 10, 7), '1610612748', '1610612755', 86, 79, '1', None, None),
 ('10300008', datetime.date(2003, 10, 7), '1610612756', '1610612751', 79, 101, '0', None, None),
 ('10300009', datetime.date(2003, 10, 7), '1610612758', '1610612746', 101, 82, '1', None, None),
 ('10300010', datetime.date(2003, 10, 7), '1610612764', '1610612752', 104, 86, '1', None, None)]

!没写前几年的season呢！

In [31]:
%%sql
select * from game_basics where season = '2020' limit 10;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[('41900101', datetime.date(2020, 8, 18), '1610612749', '1610612753', 110, 122, '0', '2020', 'playoffs'),
 ('41900102', datetime.date(2020, 8, 20), '1610612749', '1610612753', 111, 96, '1', '2020', 'playoffs'),
 ('41900103', datetime.date(2020, 8, 22), '1610612753', '1610612749', 107, 121, '0', '2020', 'playoffs'),
 ('41900104', datetime.date(2020, 8, 24), '1610612753', '1610612749', 106, 121, '0', '2020', 'playoffs'),
 ('41900105', datetime.date(2020, 8, 29), '1610612749', '1610612753', 118, 104, '1', '2020', 'playoffs'),
 ('41900111', datetime.date(2020, 8, 17), '1610612761', '1610612751', 134, 110, '1', '2020', 'playoffs'),
 ('41900112', datetime.date(2020, 8, 19), '1610612761', '1610612751', 104, 99, '1', '2020', 'playoffs'),
 ('41900113', datetime.date(2020, 8, 21), '1610612751', '1610612761', 92, 117, '0', '2020', 'playoffs'),
 ('41900114', datetime.date(2020, 8, 23), '1610612751', '1610612761', 122, 150, '0', '2020', 'playoffs'),
 ('41900121', datetime.date(2020, 8, 17), '1610612738', '1610612755', 109, 101, '1', '2020', 'playoffs')]

create table player_game_stats, import data, data cleaning, set constraints

In [48]:
%%sql

drop table if exists player_game_stats;

create table player_game_stats as (
select distinct GAME_ID, TEAM_ID,
                PLAYER_ID,
                START_POSITION,
                MIN,
                FGM,
                FGA,
                FORMAT(FG_PCT, 3) AS FG_PCT,
                FG3M,
                FG3A,
                FORMAT(FG3_PCT, 3) AS FG3_PCT,
                FTM,
                FTA,
                FORMAT(FT_PCT, 3) AS FT_PCT,
                OREB,
                DREB,
                REB,
                AST,
                STL,
                BLK,
                TOs,
                PF,
                PTS,
                PLUS_MINUS
from GAME_DETAILS);

 * mysql+pymysql://root:***@localhost
0 rows affected.
645670 rows affected.

[]

data cleanign for player_game_stats

In [49]:
%%sql


update player_game_stats
set  START_POSITION = NULL 
where START_POSITION = 'None';

update player_game_stats
set MIN = NULL,
    FGM = NULL,
    FGA = NULL,
    FG_PCT = NULL,
    FG3M = NULL,
    FG3A = NULL,
    FG3_PCT = NULL,
    FTM = NULL,
    FTA = NULL,
    FT_PCT = NULL,
    OREB = NULL,
    DREB = NULL,
    REB = NULL,
    AST = NULL,
    STL = NULL,
    BLK = NULL,
    TOs = NULL,
    PF = NULL,
    PTS = NULL,
    PLUS_MINUS = NULL
where MIN = 'None';

update player_game_stats
set  PLUS_MINUS = NULL 
where PLUS_MINUS = 'None';

 * mysql+pymysql://root:***@localhost
398573 rows affected.
105582 rows affected.
23661 rows affected.

[]

In [50]:
%sql select * from player_game_stats limit 10;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[('22101005', '1610612750', '1630162', 'F', '36:22', '4.0', '10.0', '0.400', '3.0', '8.0', '0.375', '4.0', '4.0', '1.000', '0.0', '8.0', '8.0', '5.0', '3.0', '1.0', '1.0', '1.0', '15.0', '5.0'),
 ('22101005', '1610612750', '1630183', 'F', '23:54', '6.0', '8.0', '0.750', '1.0', '3.0', '0.333', '1.0', '1.0', '1.000', '2.0', '4.0', '6.0', '0.0', '0.0', '2.0', '2.0', '6.0', '14.0', '10.0'),
 ('22101005', '1610612750', '1626157', 'C', '25:17', '4.0', '9.0', '0.444', '1.0', '3.0', '0.333', '6.0', '8.0', '0.750', '1.0', '9.0', '10.0', '0.0', '0.0', '0.0', '3.0', '4.0', '15.0', '14.0'),
 ('22101005', '1610612750', '1627736', 'G', '30:52', '4.0', '9.0', '0.444', '4.0', '9.0', '0.444', '0.0', '0.0', '0.000', '0.0', '3.0', '3.0', '1.0', '1.0', '0.0', '1.0', '4.0', '12.0', '20.0'),
 ('22101005', '1610612750', '1626156', 'G', '33:46', '3.0', '13.0', '0.231', '1.0', '6.0', '0.167', '7.0', '7.0', '1.000', '0.0', '6.0', '6.0', '9.0', '1.0', '0.0', '5.0', '0.0', '14.0', '17.0'),
 ('22101005', '1610612750', '1629675', None, '23:56', '3.0', '8.0', '0.375', '1.0', '2.0', '0.500', '4.0', '4.0', '1.000', '3.0', '7.0', '10.0', '1.0', '3.0', '2.0', '1.0', '1.0', '11.0', '-7.0'),
 ('22101005', '1610612750', '1629162', None, '21:00', '2.0', '5.0', '0.400', '0.0', '1.0', '0.000', '1.0', '1.0', '1.000', '0.0', '1.0', '1.0', '3.0', '3.0', '0.0', '0.0', '1.0', '5.0', '-10.0'),
 ('22101005', '1610612750', '1629669', None, '21:35', '6.0', '13.0', '0.462', '2.0', '5.0', '0.400', '2.0', '2.0', '1.000', '0.0', '0.0', '0.0', '1.0', '0.0', '0.0', '0.0', '0.0', '16.0', '-5.0'),
 ('22101005', '1610612750', '1627752', None, '22:53', '3.0', '8.0', '0.375', '2.0', '5.0', '0.400', '3.0', '5.0', '0.600', '0.0', '2.0', '2.0', '1.0', '1.0', '0.0', '1.0', '2.0', '11.0', '1.0'),
 ('22101005', '1610612750', '1629006', None, '0:25', '0.0', '0.0', '0.000', '0.0', '0.0', '0.000', '0.0', '0.0', '0.000', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0')]

In [51]:
%%sql
with temp as (
select player_id, GAME_ID, count(*) as dup
from player_game_stats
group by player_id, game_id
having dup > 1)

select count(*) from temp;

 * mysql+pymysql://root:***@localhost
1 rows affected.

[(6,)]

In [52]:
%%sql
select player_id, GAME_ID, count(*) as dup
from player_game_stats
group by player_id, game_id
having dup > 1;

 * mysql+pymysql://root:***@localhost
6 rows affected.

[('1627759', '22000070', 2),
 ('1629684', '22000070', 2),
 ('1630165', '22000070', 2),
 ('1630191', '22000070', 2),
 ('1630202', '22000070', 2),
 ('203924', '22000070', 2)]

In [53]:
%%sql
# DELETE DUPLICATED AND WRONG DATA
delete from player_game_stats
where PLAYER_ID = '1627759' and GAME_ID = '22000070' and FGA = '20.0';

delete from player_game_stats
where PLAYER_ID = '1629684' and GAME_ID = '22000070' and FGA = '6.0';

delete from player_game_stats
where PLAYER_ID = '1630165' and GAME_ID = '22000070' and FGA = '5.0';

delete from player_game_stats
where PLAYER_ID = '1630191' and GAME_ID = '22000070' and FGA = '4.0';

delete from player_game_stats
where PLAYER_ID = '1630202' and GAME_ID = '22000070' and BLK = '1.0';

delete from player_game_stats
where PLAYER_ID = '203924' and GAME_ID = '22000070' and DREB = '3.0';

 * mysql+pymysql://root:***@localhost
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [54]:
%%sql
select player_id, GAME_ID, count(*) as dup
from player_game_stats
group by player_id, game_id
having dup > 1;

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [55]:
%%sql
# DELETE PLAYERS WHO ARE NOT IN RECORD
with temp as (
    select distinct player_game_stats.player_id
    from player_game_stats
    where PLAYER_ID not in (select distinct PLAYER_ID from PLAYER_BASICS)
)
delete from player_game_stats
where PLAYER_ID in (select * from temp);

 * mysql+pymysql://root:***@localhost
438 rows affected.

[]

In [65]:
%%sql
# CHECK DATA CORRECTNESS
SELECT *
FROM player_game_stats
WHERE (CAST(FGM AS UNSIGNED)> CAST(FGA AS UNSIGNED))
    OR (CAST(FG3M AS UNSIGNED) > CAST(FG3A AS UNSIGNED)) 
    OR (CAST(FTM AS UNSIGNED) > CAST(FTA AS UNSIGNED));

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

set constraints for table player_game_stats

In [56]:
%%sql

alter table player_game_stats
    add constraint player_game_stats_pk
        primary key (GAME_ID, PLAYER_ID);

alter table player_game_stats
    add constraint player_game_stats_GAME_BASICS_GAME_ID_fk
        foreign key (GAME_ID) references GAME_BASICS (GAME_ID);

alter table player_game_stats
    add constraint player_game_stats_PLAYER_BASICS_PLAYER_ID_fk
        foreign key (PLAYER_ID) references PLAYER_BASICS (PLAYER_ID);

alter table player_game_stats
    add constraint player_game_stats_teams_TEAM_ID_fk
        foreign key (TEAM_ID) references teams (TEAM_ID);

 * mysql+pymysql://root:***@localhost
0 rows affected.
645226 rows affected.
645226 rows affected.
645226 rows affected.

[]

In [62]:
%%sql

DROP TABLE IF EXISTS NBA.PLAYER_TEAM_SEASON_STATS;

CREATE TABLE NBA.PLAYER_TEAM_SEASON_STATS AS

WITH temp1 AS (
    SELECT DISTINCT GAME_ID,
           PLAYER_ID,
           p.TEAM_ID,
           ABBREVIATION,
           MIN,
           FGM,
           FGA,
           FG3M,
           FG3A,
           FTM,
           FTA,
           OREB,
           DREB,
           REB,
           AST,
           STL,
           BLK,
           TOs,
           PF,
           PTS,
           PLUS_MINUS
    FROM player_game_stats p
    LEFT JOIN TEAMS t
    ON p.TEAM_ID = t.TEAM_ID
),
  temp2 AS (
      SELECT DISTINCT t1.PLAYER_ID,
             gb.SEASON,
             gb.SEASON_TYPE,
             t1.TEAM_ID,
             t1.ABBREVIATION,
             ROUND(AVG(COALESCE(t1.MIN, 0 )),1) AS MIN,
             ROUND(AVG(COALESCE(t1.PTS, 0 )),1) AS PTS,
             ROUND(AVG(COALESCE(t1.FGM, 0 )),1) AS FGM,
             ROUND(AVG(COALESCE(t1.FGA, 0 )),1) AS FGA,
             FORMAT(ROUND(AVG(COALESCE(t1.FGM, 0 )),1)
                        /IF(ROUND(AVG(COALESCE(t1.FGA, 0 )),1) != 0, ROUND(AVG(COALESCE(t1.FGA, 0 )), 1), 1) * 100, 1) AS FG_PCT,
             ROUND(AVG(COALESCE(t1.FG3M, 0 )),1) AS FG3M,
             ROUND(AVG(COALESCE(t1.FG3A, 0 )),1) AS FG3A,
             FORMAT(ROUND(AVG(COALESCE(t1.FG3M, 0 )),1)
                        /IF(ROUND(AVG(COALESCE(t1.FG3A, 0 )),1) != 0, ROUND(AVG(COALESCE(t1.FG3A, 0 )),1), 1) * 100, 1) AS FG3_PCT,
             ROUND(AVG(COALESCE(t1.FTM, 0 )),1) AS FTM,
             ROUND(AVG(COALESCE(t1.FTA, 0 )),1) AS FTA,
             FORMAT(ROUND(AVG(COALESCE(t1.FTM, 0 )),1)
                        /IF(ROUND(AVG(COALESCE(t1.FTA, 0 )),1) != 0, ROUND(AVG(COALESCE(t1.FTA, 0 )),1), 1) * 100, 1) AS FT_PCT,
             ROUND(AVG(COALESCE(t1.OREB, 0)),1) AS OREB,
             ROUND(AVG(COALESCE(t1.DREB, 0)),1) AS DREB,
             ROUND(AVG(COALESCE(t1.AST, 0)),1) AS AST,
             ROUND(AVG(COALESCE(t1.STL, 0 )),1) AS STL,
             ROUND(AVG(COALESCE(t1.BLK, 0 )),1) AS BLK,
             ROUND(AVG(COALESCE(t1.TOs, 0 )),1) AS TOs,
             ROUND(AVG(COALESCE(t1.PF, 0 )),1) AS PF,
             ROUND(AVG(COALESCE(t1.PLUS_MINUS, 0 )),1) AS PLUS_MINUS
      FROM temp1 t1
      LEFT JOIN GAME_BASICS gb
        ON t1.GAME_ID = gb.GAME_ID
      GROUP BY t1.PLAYER_ID, t1.TEAM_ID, gb.SEASON, gb.SEASON_TYPE, t1.ABBREVIATION
  )

SELECT * FROM TEMP2;

 * mysql+pymysql://root:***@localhost
0 rows affected.
9145 rows affected.

[]

In [64]:
%%sql
select * from PLAYER_TEAM_SEASON_STATS 
WHERE SEASON = '2020' OR SEASON = '2021' 
ORDER BY PTS DESC
limit 20;

 * mysql+pymysql://root:***@localhost
20 rows affected.

[('1628378', '2020', 'playoffs', '1610612762', 'UTA', 37.1, 36.3, 11.9, 22.4, '53.1', 4.7, 9.1, '51.6', 7.9, 8.3, '95.2', 0.9, 4.1, 4.9, 1.0, 0.3, 4.1, 1.6, 5.4),
 ('1629029', '2021', 'playoffs', '1610612742', 'DAL', 39.6, 35.7, 13.7, 28.0, '48.9', 4.4, 10.9, '40.4', 3.9, 7.3, '53.4', 0.6, 7.3, 10.3, 1.3, 0.4, 4.6, 2.4, 1.0),
 ('203081', '2021', 'playoffs', '1610612757', 'POR', 40.8, 34.3, 10.3, 22.3, '46.2', 5.8, 13.0, '44.6', 7.8, 8.3, '94.0', 0.2, 4.2, 10.2, 1.0, 0.7, 2.2, 1.5, 4.5),
 ('201142', '2021', 'playoffs', '1610612751', 'BKN', 40.0, 34.2, 12.1, 23.5, '51.5', 2.8, 6.8, '41.2', 7.3, 8.4, '86.9', 0.4, 8.8, 4.4, 1.5, 1.6, 3.5, 2.6, 2.8),
 ('1628378', '2021', 'playoffs', '1610612762', 'UTA', 34.0, 32.3, 10.5, 23.5, '44.7', 5.0, 11.5, '43.5', 6.3, 7.6, '82.9', 0.3, 3.9, 5.5, 1.1, 0.2, 2.8, 2.0, 1.9),
 ('1629029', '2020', 'playoffs', '1610612742', 'DAL', 35.3, 31.0, 10.7, 21.3, '50.2', 2.7, 7.3, '37.0', 7.0, 10.7, '65.4', 0.7, 9.2, 8.7, 1.2, 0.5, 5.2, 2.8, -6.3),
 ('1628369', '2021', 'playoffs', '1610612738', 'BOS', 36.6, 30.6, 9.4, 22.2, '42.3', 2.8, 7.2, '38.9', 9.0, 9.8, '91.8', 0.6, 5.2, 4.6, 1.2, 1.6, 2.6, 3.0, -11.6),
 ('202695', '2021', 'playoffs', '1610612746', 'LAC', 38.6, 30.4, 11.1, 19.4, '57.2', 2.2, 5.5, '40.0', 6.0, 6.8, '88.2', 2.0, 5.7, 4.4, 2.1, 0.8, 2.2, 2.6, 2.5),
 ('1629630', '2021', 'playoffs', '1610612763', 'MEM', 40.0, 30.2, 11.0, 22.6, '48.7', 2.0, 6.2, '32.3', 6.2, 8.0, '77.5', 1.4, 3.4, 8.2, 0.4, 0.0, 3.4, 1.8, -10.0),
 ('203507', '2021', 'playoffs', '1610612749', 'MIL', 37.6, 30.2, 11.9, 20.9, '56.9', 0.6, 3.3, '18.2', 5.8, 9.8, '59.2', 2.8, 10.0, 5.1, 1.0, 1.2, 3.0, 2.9, 6.2),
 ('203954', '2020', 'playoffs', '1610612755', 'PHI', 35.8, 30.0, 8.5, 18.5, '45.9', 1.0, 4.0, '25.0', 12.0, 14.8, '81.1', 2.8, 9.5, 1.2, 1.5, 1.2, 3.8, 4.5, -13.2),
 ('203078', '2021', 'playoffs', '1610612764', 'WAS', 38.4, 30.0, 11.2, 24.6, '45.5', 1.4, 6.4, '21.9', 6.2, 7.2, '86.1', 1.2, 5.0, 4.2, 0.8, 0.6, 4.0, 1.2, -12.2),
 ('203999', '2021', 'playoffs', '1610612743', 'DEN', 34.1, 29.8, 11.6, 22.8, '50.9', 2.0, 5.3, '37.7', 4.6, 5.5, '83.6', 3.7, 7.9, 5.0, 0.6, 0.9, 2.4, 2.3, -5.9),
 ('201935', '2020', 'playoffs', '1610612745', 'HOU', 36.8, 29.6, 9.1, 19.0, '47.9', 3.2, 9.8, '32.7', 8.2, 9.7, '84.5', 1.0, 4.6, 7.7, 1.5, 0.8, 3.8, 3.6, 2.7),
 ('203507', '2021', 'regular', '1610612749', 'MIL', 31.8, 29.2, 9.9, 18.1, '54.7', 1.1, 3.7, '29.7', 8.2, 11.4, '71.9', 1.9, 9.3, 5.8, 1.0, 1.4, 3.2, 3.2, 5.8),
 ('203954', '2021', 'regular', '1610612755', 'PHI', 32.1, 29.1, 9.1, 18.7, '48.7', 1.3, 3.6, '36.1', 9.5, 11.6, '81.9', 2.0, 9.1, 4.2, 1.0, 1.4, 2.9, 2.6, 4.6),
 ('201142', '2021', 'regular', '1610612751', 'BKN', 36.0, 29.0, 10.4, 20.0, '52.0', 1.9, 5.1, '37.3', 6.2, 7.0, '88.6', 0.6, 6.8, 5.8, 0.8, 1.0, 3.2, 2.0, 3.6),
 ('203078', '2020', 'regular', '1610612764', 'WAS', 32.6, 28.9, 10.3, 21.3, '48.4', 2.0, 5.7, '35.1', 6.3, 7.1, '88.7', 1.1, 3.2, 4.1, 1.1, 0.3, 2.9, 2.2, -0.0),
 ('201939', '2020', 'regular', '1610612744', 'GSW', 30.2, 28.8, 9.4, 19.5, '48.2', 4.8, 11.4, '42.1', 5.2, 5.6, '92.9', 0.4, 4.5, 5.2, 1.1, 0.1, 3.0, 1.7, 3.5),
 ('1629627', '2020', 'preseason', '1610612740', 'NOP', 33.0, 28.5, 10.0, 17.5, '57.1', 0.0, 1.5, '0.0', 8.5, 11.0, '77.3', 3.0, 7.0, 2.0, 0.5, 0.5, 3.5, 1.5, 11.0)]